
    <% provide(:title, "About") %>
    <h1>关于我们</h1>
     <%= link_to image_tag("about.png" , size: "1140x280"),
                'http://www.ygu.edu.cn/' %>

    <p>
    	<br>
    阳光学院坐落在中国历史文化名城福州，校区位于福州经济技术开发区。2001年由国家“211工程”重点建设大学福州大学和阳光控股集团共同举办，是福建省首批设立的独立学院。2015年经国家教育部批准，成为福建省首批转为独立设置的普通二本高校。2016年，经省教育厅批准为应用型转型试点高校。2017年被省教育厅列为硕士学位授予培育单位。   
    <br> 
    <br>
    SunShine为阳光学院师生专属校园微博，注册于2018年，便于学院师生信息共享，相互交友。
    <br>

<br>



   </p>
