  <% provide(:title, 'Contact') %>
    <h1>联系我们</h1>


    <%= link_to image_tag("concent.png" , size: "1140x280"),
                'http://www.ygu.edu.cn/' %>

    <p>
      <br>
      SunShine
      <br>
      地址：福州经济技术开发区（马尾）卧龙山登龙路99号 
      <br>
      联系人：杨峥
      <br>
	  邮箱：875333005@qq.com

	  <br>
	  GitHub：
	  <a href="https://github.com/yangzheng1995">yangzheng1995</a>
	  <br>
	  个人blog:
      <a href="http://www.icooq.com">www.icooq.com</a>

