 <% provide(:title, "Help") %>
    <h1>帮助</h1>
    <p>
<%= link_to image_tag("help.png" , size: "1140x280"),
                'http://www.ygu.edu.cn/' %>


<p>
<br>
</p>

欢迎来到SunShine，很高兴可以帮助您，由于帮助功能还未开放，您有什么问题可以联系博主，很高兴帮您解答。

联系方式 qq：875333005@qq.com

      <br>
      <br>
      <br>
      <br>
      <br>
 
      <br>
   		<br>

     </p>


 